* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h4,
h1 {
  margin: 0px;
}

#parent {
  width: 100%;
  margin-top: 50px;
  height: fit-content;
}
#product-detail {
  display: flex;
  margin: 0;

  width: 100%;
  /* height: 56%; */
  /* background-color: aqua; */
}

#product-right {
  width: 56%;
  height: 100vh;
  border: 2px solid grey;
  /* border-left: 0.5px solid grey; */
  /* background-color: blue; */
}
#product-left {
  width: 44%;
  height: 100vh;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  border-right: 0px;
  /* background-color: blue; */
}

#product-left img {
  height: 100%;
  width: 100%;
  /* New Changes for hover */
  /* position: absolute;
  left: 0; */
}
/* .sliderBtn {

  width: 100%;
} */

.button {
  border: none;
  outline: 0;
  background-color: #fff;
  height: 30px;
  cursor: pointer;
  /* text-align: left; */
}
.button span {
  font-size: 30px;
  color: grey;
}
#product-desc {
  display: flex;
}
#product-details {
  width: 100%;
  height: 56%;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-weight: 800;
  text-align: left;
}
#product-details h1 {
  font-size: 50px;
  font-weight: 600;
  padding: 0;
}
h4 {
  margin: 0;
}
#product-details h4 {
  font-size: 25px;
  font-weight: 600;
  /* margin-bottom: 10px; */
  padding: 0;
}
#product-details h2 {
  font-weight: 600;
}
#product-desc {
  width: 100%;
  height: 44%;
  margin: 0;
  padding: 0;
}

#desc {
  /* padding-left: 20px; */
  width: 50%;
  text-align: center;
}
#accordian {
  width: 50%;
  text-align: left;
}
#accordian button {
  cursor: pointer;
}
li {
  text-align: left;
  padding: 0;
  margin: 0;
}

/* Accordian Styles */

#accordian {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}
#desc {
  padding: 30px;
  border-top: 1px solid grey;
  border-left: 0 solid grey;
}
#desc p {
  margin: 0;
  text-align: left;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}

#accordian button {
  /* width: fit-content; */
  border-top: 1px solid black;
  border-bottom: 0.5px solid black;
  border-right: none;
  border-left: none;
  outline: 0;
  background-color: #fff;
  text-align: left;
  padding-top: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 5px;
  background-color: white;
  display: none;
  overflow: hidden;
}
#middle {
  display: flex;
  gap: 40px;
  /* margin: 50px; */
}
#plusMinus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  font-size: 24px;
  gap: 7px;
  /* margin-right: 10px;
  margin-left: 10px; */
}

#plusMinus span {
  cursor: pointer;
}

.minus {
  color: grey;
}
.num {
  font-size: 24px;
}

#otherDetailsHeading {
  display: flex;
  padding: 80px 0px 40px 80px;
  gap: 40px;
  align-items: flex-end;
  /* margin-bottom: 60px; */
}

#otherDetails {
  width: 100%;
}
#otherDetailsP {
  padding-bottom: 15px;
  font-weight: 500;
}

#otherDetailsHeading h1 {
  font-size: 50px;
  font-weight: 600;
  /* padding: 0; */
}

#otherDetailsBox {
  width: 100%;
  height: 400px;
  display: flex;
  border: 1px solid grey;
  gap: 0px;
}
#emptyBox {
  width: 7%;
}

#imageBox {
  width: 398px;
  height: fit-content;
  border-left: 1px solid grey;
}
#imageBox img {
  height: 398px;
  width: 398px;
}
#fourBox {
  width: 70%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#fourBox div {
  border: 0.5px solid grey;
  padding: 30px;
  text-align: center;
}

#fourBox div h4 {
  font-weight: 600;
}

#review h1 {
  font-size: 50px;
  font-weight: 600;
  /* padding: 0; */
}

/* stARS */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: relative;
  /* bottom: -9999px; */
  display: none;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#review {
  width: 100%;
  margin-top: 80px;
  /* margin-left: 100px; */
}
#reviewBox {
  width: 100%;
  /* margin-right: 50px;
  */
  /* margin-left: 10px; */
  border: 1px solid grey;
  display: flex;
  height: 40vh;
  margin-bottom: 20px;
}
#reviewBoxleft div {
  display: flex;
  /* padding: 30px; */
}
#reviewBoxleft {
  width: 50%;
  /* text-align: center; */
  padding-left: 30px;
}

#reviewBoxRight {
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  padding-bottom: 50px;
}

#reviewBoxRight h3 {
  padding-left: 110px;
}

#review h1 {
  margin-left: 50px;
}

#rateRight {
  margin: auto;
}
#addToCart {
  width: 25%;
  height: 50px;
  border-style: none;

  color: white;
  background-color: rgb(245, 108, 69);
  border: 1px solid grey;
  border-radius: 12px;
}
